:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    color: #FFFFFF;
    background: url(https://static.myfigurecollection.net/upload/pictures/2018/01/09/1898432.jpeg);
    backdrop-filter: blur(21px) brightness(0.54);
    border-radius: 1rem;
}

  #pfp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
  .overlay {
    /* Your overlay styles here */
    animation: fadeIn 2s;
    opacity: 1;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;
          filter:blur(10px) }
  }
  
  .fade-out {
    animation: fadeOut 0.3s ease; /* Apply the fade-out animation */
    opacity: 0; /* Ensure opacity remains at 0 after animation */
  }  

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .pfp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10%;
	  margin-left: 10%;
  }
  
  .text {
    text-align: left;
    font-family: "Inter";
  }
  
  h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    margin: 0;
  }

  #job {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	font-size: 2rem;
	line-height: 48px;
	color: #929292;
	margin-bottom: 3vh;
  }

  #name {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 48px;
    margin-bottom: 3vh;
    animation: bold 2s;
  }

  @keyframes bold {
    0% {
      font-weight: 100;
      opacity: 0;
    }
    25% {
      opacity: 0;
      font-weight: 100;
    }
    100% {
      opacity: 1;
      font-weight: 900;
    }
  }

  #desc {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 38px;
  }
  
  .aboutme {
    position: absolute;
    top: 3%;
    right: 10%;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 38px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    cursor: default;
    z-index: 10001;
  }
  
  .social {
    position: absolute;
    top: 3%;
    right: 5%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 38px;
    cursor: pointer;
    z-index: 10001;
  }

  a {
  text-decoration: none;
  color: inherit;
}
  
  @media only screen and (max-width: 1170px) {
    .aboutme {
      top: 3%;
      left: 5%;
      font-size: 3vw;
    }
  
    .social {
      top: 3%;
      right: 5%;
      font-size: 3vw;
    }

    .container {
      flex-direction: column;
      padding-top: 150px;
    }

    .img {
      justify-content: center;
      align-items: center;
      width: auto;
      height: 10vw;
    }

    #job {
      text-align: center;
      padding-top: 5vh;
      font-size: 6vw;
    }

    #name {
      text-align: center;
      font-size: 5vw;
    }

    #desc {
      text-align: center;
      font-size: 3.6vw;
    }
  }
